
    .table-1{
        background-color:bisque;
    }
    .table-2{
        background-color: bisque;
    }
    .table-with-gmap{
        background-color: antiquewhite;
        
    }
    .body{
        background-color: lightskyblue;
        background-image: url(img/bg-img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
